.position {
	position: relative;
	left: 65%;
	right: 10px;
	bottom: 2px;
	background-color: transparent;
	font-weight: bolder;
	color: red;
	width: fit-content;
	letter-spacing: 2px;
}

.myDiv {
	background-image: linear-gradient(to right, purple, yellow);
	height: 30px;
	border-radius: 20px;
	padding-left: 2px;
}

@media screen and (max-width: 766px) {
	.position {
		left: 50%;
	}
}
